#content {
    margin-top: 60px;
}

.plot {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#score-plot {
    height: 255px;
}

#rna-plot {
    height: 300px;
}

.table-striped td, .table-striped th {
    border-top: none !important;
    border-bottom: none !important;
}
