#content {
    margin-top: 60px;
}

.plot {
    text-align: center;
}

#score-plot {
    height: 255px;
}

#rna-plot {
    height: 300px;
}

.table-striped td, .table-striped th {
    border-top: none !important;
    border-bottom: none !important;
}

#frontpage {
    text-align: center;
    padding-top: 150px;
}
