{% extends "layout.html" %}
{% block content %}
<h1> Results for {{ selection }} selection </h1>

<div class="row">
    <div class="col-md-6">
        <table id="features" class="table table-striped">
            <thead>
                <th data-dynatable-column="id">Feature</th>
                <th data-dynatable-column="lo.{{ selection[:3] }}">RRA-score</th>
                <th data-dynatable-column="p.{{ selection[:3] }}">p-value</th>
                <th data-dynatable-column="fdr.{{ selection[:3] }}">FDR</th>
            <thead>
            <tbody>
            </tbody>
        </table>        
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div id="score-plot" class="plot"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="sgnra-plot" class="plot"></div>
            </div>
        </div>
    </div>
</div>

<script>
vg.parse.spec("/plt/rra/{{ selection }}", function(chart) {
    chart({el: "#score-plot"}).update();
});

$("#features").dynatable({
    dataset: {
        ajax: true,
        ajaxUrl: "/tbl/features/{{ selection }}",
        ajaxOnLoad: true,
        records: []
    }
});
</script>
{% endblock %}
