{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" style="margin-bottom: 10px;">Results for {{ selection }} selection</div>
            <table id="targets" class="table table-striped">
                <thead>
                    <th data-dynatable-column="id">Target</th>
                    <th data-dynatable-column="lo.{{ selection[:3] }}">RRA-score</th>
                    <th data-dynatable-column="p.{{ selection[:3] }}">p-value</th>
                    <th data-dynatable-column="fdr.{{ selection[:3] }}">FDR</th>
                    <th style="text-align: right;" data-dynatable-no-sort="true">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="selection-menu" data-toggle="dropdown" aria-expanded="true">
                                Selection
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="selection-menu">
                                {% if is_genes %}
                                    <li role="presentation"><a id="btn-genemania" role="menuitem" tabindex="-1" href="#">Show in GeneMANIA</a></li>
                                {% endif %}
                                <li role="presentation"><a id="btn-deselect" role="menuitem" tabindex="-1" href="#">Deselect all</a></li>
                            </ul>
                        </div>
                    </th>
                <thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-md-5" style="min-width: 290px">
                            <div id="score-plot" class="plot"></div>
                        </div>
                        <div class="col-md-7" style="min-width: 340px">
                            <div id="pval-hist-plot" class="plot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="margin-bottom: 10px;">RNA counts</div>
                    <div id="rna-plot" class="parcoords" style="width: 100%; height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

var plt_pval = null;
var plt_rna = null;
var selected = {};
var sample_order = null;

function get_selected() {
    var targets = [];
    for(target in selected) {
        targets.push(target);
    }
    return targets;
}

vg.parse.spec("/plt/pvals/{{ selection }}", function(chart) {
    plt_pval = vega_draw(chart, "#score-plot");
});


function update_pval_highlights() {
    d3.json("/tbl/pvals_highlight/{{ selection }}/" + get_selected().join("|"), function(error, json) {
        plt_pval.data(
            { "highlight": json }
        );
        plt_pval.update();
    });
}

function clear_pval_highlights() {
    plt_pval.data({"highlight": []});
    plt_pval.update();
}

vg.parse.spec("/plt/pvalhist/{{ selection }}", function(chart) {
    vega_draw(chart, "#pval-hist-plot");
});

var dt = $("#targets").dynatable({
    dataset: {
        ajax: true,
        ajaxUrl: "/tbl/targets/{{ selection }}",
        ajaxOnLoad: true,
        perPageDefault: 20,
        records: [],
        inputs: {
            paginationClass: 'pagination',
            paginationActiveClass: 'active',
            paginationDisabledClass: 'disabled'
        }
    }
});

// Perform actions when paging the table.
dt.on("dynatable:afterUpdate", function() {
    {% if is_genes %}
        $("#targets tr td:first-child").each(function(idx, cell) {
            var target = $(cell).html();
            $(cell).html(
                '<a target="_blank" href="http://www.ensembl.org/{{ species }}/Gene/Summary?g=' + target + '">' + target + '</a>'
            );
        });
    {% endif %}

    $("#targets tr td:last-child").each(function(idx, cell) {
        var target = $(cell).parent().children(":first").children(":first").html();
        $(cell).html(
            '<div class="btn-group" role="group" aria-label="...">' +
            '<button type="button" class="btn btn-default btn-plt-rnas" name="' + target + '">RNA counts</button>' +
            '<button type="button" class="btn btn-default btn-select-target" name="' + target + '">Select</button>' +
            '</div>'
        );
    });


    // Display parallel coordinates plot of RNA counts.
    $(".btn-plt-rnas").tooltip().click(function() {
        var target = $(this).attr("name");

        $(".btn-plt-rnas").removeClass("active");
        $(this).addClass("active");

        d3.json("/tbl/rnas/" + target, function(error, data) {
            if (error) return console.warn(error);
            $("#rna-plot").empty();

            var names = data.map(function(rec) { return rec.sgRNA });
            var samples = d3.keys(data[0]);
            var colors = d3.scale.category10().domain(names);

            plt_rna = d3.parcoords()("#rna-plot")
              .data(data)
              .margin({ top: 24, left: 80, bottom: 12, right: 0 })
              .color(function(record) { return colors(record.sgRNA) })
              .render()
              .commonScale()
              .createAxes()
              .brushMode("1D-axes")
              .reorderable()
              .commonScale()
              .render();
            /*if(sample_order) {
                plt_rna.dimensions(sample_order);
            }
            sample_order = plt_rna.dimensions();
            plt_rna.on("render", function() {
                sample_order = plt_rna.dimensions();
            });*/

            plt_rna.svg.selectAll("text").style("font-size", "10px");
            $("#rna-plot svg .axis > :contains(sgRNA)").css("opacity", "0");
            $("#rna-plot svg .axis > :contains(sgRNA)").parent().find(".domain").css("opacity", "0");
            $("#rna-plot svg .axis > :contains(sgRNA)").parent().find(".tick line").css("opacity", "0");
        });
    });

    // Display gene in hockey stick and update "selected".
    $(".btn-select-target").tooltip().click(function() {
        var target = $(this).attr("name"); //$(this).parent().parent().children(":first").children(":first").html();

        if(!$(this).hasClass("active")) {
            $(this).addClass("active");
            selected[target] = true;
            update_pval_highlights();
        }
        else {
            $(this).removeClass("active");
            delete selected[target];
            $(this).blur();
        }
    });
});

// Show selected genes in GeneMANIA.
$("#btn-genemania").click(function() {
    var url = "http://genemania.org/link?o=human&g=";
    window.open(encodeURI(url + get_selected().join("|")), '_blank');
});

// Deselect all genes.
$("#btn-deselect").click(function() {
    for(target in selected) {
        delete selected[target];
    }
    clear_pval_highlights();
    $(".btn-select-target").removeClass("active");
});

</script>
{% endblock %}
