{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" style="margin-bottom: 10px;">Results for {{ selection }} selection</div>
            <table id="targets" class="table table-striped">
                <thead>
                    <th data-dynatable-column="id">Target</th>
                    <th data-dynatable-column="lo.{{ selection[:3] }}">RRA-score</th>
                    <th data-dynatable-column="p.{{ selection[:3] }}">p-value</th>
                    <th data-dynatable-column="fdr.{{ selection[:3] }}">FDR</th>
                    <th style="text-align: right;"></th>
                <thead>
                <tbody>
                </tbody>
            </table>
        </div>        
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-md-5" style="min-width: 290px">
                            <div id="score-plot" class="plot"></div>
                        </div>
                        <div class="col-md-7" style="min-width: 340px">
                            <div id="pval-hist-plot" class="plot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="margin-bottom: 10px;">RNA counts</div>
                    <div id="rna-plot" class="parcoords" style="width: 100%; height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var plt_pval = null;
vg.parse.spec("/plt/pvals/{{ selection }}", function(chart) {
    plt_pval = vega_draw(chart, "#score-plot");
});


vg.parse.spec("/plt/pvalhist/{{ selection }}", function(chart) {
    vega_draw(chart, "#pval-hist-plot");
});


var dt = $("#targets").dynatable({
    dataset: {
        ajax: true,
        ajaxUrl: "/tbl/targets/{{ selection }}",
        ajaxOnLoad: true,
        perPageDefault: 20,
        records: [],
        inputs: {
            paginationClass: 'pagination',
            paginationActiveClass: 'active',
            paginationDisabledClass: 'disabled'
        }
    }
});

dt.on("dynatable:afterUpdate", function() {
{% if is_genes %}
    $("#targets tr td:first-child").each(function(idx, cell) {
        var target = $(cell).html();
        $(cell).html(
            '<a target="_blank" href="http://www.ensembl.org/{{ species }}/Gene/Summary?g=' + target + '">' + target + '</a>'
        );
    });
{% endif %}

    $("#targets tr td:last-child").html(
        '<a href="#" class="btn-plt-rnas" data-toggle="tooltip" data-placement="top" title="Display RNA counts.">\
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>\
        </a>&nbsp;\
        <a href="#" class="btn-show-pval" data-toggle="tooltip" data-placement="top" title="Highlight p-value in distribution.">\
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>\
        </a>'
    );

    $(".btn-plt-rnas").tooltip().click(function() {
        var target = $(this).parent().parent().children(":first").children(":first").html();

        d3.json("/tbl/rnas/" + target, function(error, data) {
            if (error) return console.warn(error);
            $("#rna-plot").empty();

            var names = data.map(function(rec) { return rec.sgRNA });
            var samples = d3.keys(data[0]);
            console.log(samples);
            var colors = d3.scale.category10().domain(names);

            var plt = d3.parcoords()("#rna-plot")
              .data(data)
              .margin({ top: 24, left: 80, bottom: 12, right: 0 })
              .color(function(record) { return colors(record.sgRNA) })
              .render()
              .commonScale()
              .createAxes()
              .brushMode("1D-axes")
              .reorderable()
              .commonScale()
              .render();

            plt.svg.selectAll("text").style("font-size", "10px");
            $("#rna-plot svg :contains(sgRNA)").css("font-weight", "normal");
        });
    });
    $(".btn-show-pval").tooltip().click(function() {
        var target = $(this).parent().parent().children(":first").children(":first").html();

        d3.json("/idx/pvals/{{ selection }}/" + target, function(error, idx) {
            var item = plt_pval.model().scene().items[0].items[1].items[idx].items[0].items[0];
            console.log(idx);
            plt_pval.update();
            plt_pval.update({props:"hover", items: item});
        });
    });
});

</script>
{% endblock %}
